.cardBox{
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 30px;
}
.cardBox .card{
    position: relative;
    background: var(--blue1);
    background:var(--gradient-1);
    border-radius: 1em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease;
}
.cardBox .card .space{
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
}
.cardBox .card:hover {
    transform: translateY(-6px);
   
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--text2-clr);
}
.cardBox .card .cardName{
 color: var(--text2-clr);
 font-size: 1.1em;
 margin-top: 5px;   
}
.cardBox .card .iconBx{
    font-size: 1.5em;
    color: var(--icon-clr);
}
.cardBox .card:hover{
    background: var(--hover-clr);
}


