.admin-panel {
    display: none;
    
}

.admin-panel.active {
    display: block;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    background: var(--gradient-1);
    color: var(--white);
    padding: 1rem 2.5rem;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 10px 30px rgba(134, 107, 255, 0.3);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 40px rgba(107, 75, 82, 0.4);
}