/*Table list */
.dashboardtable{
    position: relative;
    width: 100%;
    display: grid;
    padding: 5px;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}
.tablearea{
    position: relative;
   
    padding: 5px;
    background: var(--white1);
    border-radius: 7px;
}
.tablearea table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 1em;
}
.tablearea table thead{
    padding: 5px;
    
}
.tablearea table thead td{
    font-weight: 600;
    color: var(--text-color);
    padding: 5px;
    border-bottom: 1px solid white;
}
.tablearea table thead td:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.tablearea table thead td:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tablearea table tbody tr td{
    padding: 5px;
}
.tablearea table tbody tr td:last-child .actions{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
.tablearea table tbody tr td:last-child button{
    position: relative;
    font-size: 1em;
    color: #fff;
    padding: 3px 5px 3px;
    border: 1px solid var(--line-clr);
    border-radius: 5px;
  }
.tablearea table tbody tr td:last-child button:first-child{
    background: #8de02c;
    white-space: nowrap;
    
  }
  .tablearea table tr td:last-child button:last-child{
    background: #ad3259;
  }
  .tablearea table tbody tr td input{ 
    width: 100%;
     padding: 0.75rem;
     border: 1px solid var(--line-clr);
     border-radius: 0.5rem;
     border: 1px solid #fff;
     font-size: 1rem;
     transition: border-color 0.2s ease;
     background: var(--base-color);
     color: var(--text-color);
   }
 